body {
	font-family : arial;
	background-color : #06d6a0;
}

.myname {
    color: #633670;
    position: absolute;
    font-weight: bolder;
    font-size: 10pt;
    margin-top: 415px;
    margin-left: 50px;
}

.logo {
    color: #633670;
    position: absolute;
    font-weight: bolder;
    font-size: 13pt;
    font-style: oblique;
    margin-top: 411px;
    margin-left: 160px;
}

.buttonlabela {
	color: #633670;
    position: absolute;
    font-weight: bolder;
    font-size: 23pt;
    margin-top: 0px;
    margin-left: 430px;
    transform: rotate(-18deg);
}

.buttonlabelb {
	color: #633670;
    position: absolute;
    font-weight: bolder;
    font-size: 23pt;
    margin-top: 27px;
    margin-left: 347px;
    transform: rotate(-18deg);
}



#container {
	margin-left : auto;
	margin-right : auto;
	margin-top : 25px;
	width : 300px;
	height : 300px;
	background-color : #ffd166;
	box-shadow : inset 10px 10px #444444;
	z-index : 10;

}

.gridBoxHover {
	background-color : pink;
}

button { 
	display : block;
	margin : auto;
}

.screen-border {
	position : absolute;
	left : 0;
	right : 0;
	margin-left : auto;
	margin-right : auto;
	margin-top : 50px;
	width : 400px;
	height : 350px;
	background-color : #606060;
	z-index : 0;
	border-top-left-radius: 25px;
	border-bottom-right-radius : 25px;
}

.light {
	margin-top : 125px;
	margin-left : 15px;
	float : left;
	border: 5px solid #ff0000;
    background-color: #ff0000;
    z-index: 5;
    border-radius: 10px;
    width: 5px;
    height: 5px;
}

.gbunit {
	margin : auto;
	width : 500px;
	height : 700px;
/*	background-color : #fcfcfc;*/
	background : linear-gradient(135deg, #f2f6f8 0%,hsla(204, 15%, 88%, 1) 50%,hsla(202, 5%, 76%, 1) 50.1%,#e0eff9 100%);
	z-index : -2;
	border-top-left-radius : 20px;
	border-top-right-radius : 20px;
	border-bottom-right-radius : 100px;
	border-bottom-left-radius:20px;
	box-shadow : 10px 10px #767676;
	/* box-shadow: inset 5px 25px 65px 2px #ffffff; */
	border-width : 5px;
	border-style : outset;
}

.dpadvert {
    height: 100px;
    width: 40px;
    float: left;
    margin-left: 100px;
    margin-top: 450px;
    background-color: #2d2d2d;
    border-radius: 10px;
    border-width: 2px;

}

.dpadhorz {
    height: 40px;
    width: 100px;
    margin-left: 70px;
    margin-top: 480px;
    background-color: #2d2d2d;
    border-radius: 10px;
    border-width: 2px;
    z-index : 2px;
}

.dpadinset {
    height: 30px;
    width: 30px;
    margin-left: 7px;
    margin-top: 32px;
    background: linear-gradient(135deg, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
    border-radius: 20px;
    border-width: 2px;
    z-index: 3;
}

.gbbuttona {
    height: 65px;
    margin-top: -40px;
    margin-right: 125px;
    float: right;
    border-radius: 50px;
    width: 65px;
    background: linear-gradient(135deg, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
    border-style: outset;
    border-width: 2px;
    border-color: #c654ce;
}

.resizegridtext {
	color: #633670;
    position: absolute;
    font-weight: bolder;
    font-size: 15pt;
    margin-top: 100px;
    margin-left: 180px;
    transform: rotate(-18deg);
}

.gbbuttonb {
    height: 65px;
    margin-top: -65px;
    margin-left: 385px;
    border-radius: 50px;
    width: 65px;
    background: linear-gradient(135deg, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
    border-style: outset;
    border-width: 2px;
    border-color: #c654ce;
}

.speakers1 {
	background-color: #3a3a3a;
    width: 8px;
    height: 65px;
    position: absolute;
    border-radius: 5px;
    transform: rotate(-18deg);
    margin-left: 350px;
    margin-top: 80px;
}

.speakers2 {
    background-color: #3a3a3a;
    width: 8px;
    height: 65px;
    position: absolute;
    border-radius: 5px;
    transform: rotate(-18deg);
    margin-left: 380px;
    margin-top: 70px;
}

.speakers3 {
    background-color: #3a3a3a;
    width: 8px;
    height: 65px;
    position: absolute;
    border-radius: 5px;
    transform: rotate(-18deg);
    margin-left: 410px;
    margin-top: 60px;
}

.speakers4 {
    background-color: #3a3a3a;
    width: 8px;
    height: 65px;
    position: absolute;
    border-radius: 5px;
    transform: rotate(-18deg);
    margin-left: 440px;
    margin-top: 50px;
}

button { 
	background-color: #3a3a3a;
    border-radius: 5px;
    position: absolute;
    margin-left: 180px;
    transform: rotate(-18deg);
    margin-top: 70px;
    width: 100px;
    height: 20px;
    box-shadow: 0px 2px 0px 0px #000;
    border: 0;
    color: #3a3a3a;
}

element:hover, element:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

@media (max-width: 500px) {
    .screen-border {
        left: 60px;
    }
}
